@layer base {
  :root {
    --sm: 576px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
  }
  body {
    @apply text-black-light font-body font-light;
  }
  a.link {
    @apply font-medium;
    color: #025ECA;
  }
  h1,
  h2,
  h3 {
    @apply font-head text-black mb-3 md:mb-4;
  }
  h1,
  .h1 {
    @apply text-7xl sm:text-7.5xl lg:text-8xl;
  }
  h2,
  .h2 {
    @apply text-5xl sm:text-6xl lg:text-7xl;
  }
  h3,
  .h3 {
    @apply text-4xl sm:text-5xl lg:text-5.5xl;
  }

  .p0,
  .p1,
  .p2,
  .p3 {
    @apply font-light mb-3 md:mb-4;
  }
  .p0 {
    @apply text-2xl md:text-3xl text-black mb-2;
  }
  .p1 {
    @apply text-xl md:text-2xl mb-2;
  }
  .p2 {
    @apply text-lg md:text-xl mb-2;
  }
  .p3 {
    @apply text-base md:text-lg mb-2 md:mb-3;
  }
  .p4 {
    @apply text-xs mb-1 md:text-sm;
  }
  .p-xs {
    @apply text-xs mb-1 md:mb-1.5;
  }
  .dark-body-text {
    @apply text-black-light;
  }
  .section__intro {
    @apply lg:w-10/12 xl:w-8/12;
  }
}

@layer components {
  .nav-link {
    position: relative;
  }
  .nav-link:hover::after {
    height: 0.8em;
  }
  .nav-link::after {
    position: absolute;
    content: "";
    height: 0.5em;
    transition-delay: 0.1s;
    z-index: -1;
    bottom: 0.35em;
    transition: height 0.15s ease-in-out;
    @apply hidden md:block left-0 w-full bg-primary;
  }
  .home-hero-section {
    @apply h-128 md:h-256;
  }
  @media (min-width: 1024px) {
    .home-hero-section {
      height: calc(100vh - 5rem);
    }
  }
  .primary-stripe {
    position: relative;
  }
  .primary-stripe::after {
    position: absolute;
    content: "";
    height: 0.2em;
    transition-delay: 0.1s;
    z-index: -1;
    bottom: 0.5em;
    transition: height 0.15s ease-in-out;
    @apply left-0 w-full bg-primary-stripe;
  }
  .secondary-stripe {
    position: relative;
  }
  .secondary-stripe::after {
    position: absolute;
    content: "";
    height: 0.4em;
    transition-delay: 0.1s;
    z-index: -1;
    bottom: 0em;
    transition: height 0.15s ease-in-out;
    @apply left-0 w-full bg-accent;
  }
  .h-stripe {
    position: relative;
    z-index: 1;
  }

  .h-stripe:hover::after {
    height: 0.6em;
  }

  .h-stripe::after {
    position: absolute;
    content: "";
    height: 0.4em;
    transition-delay: 0.1s;
    z-index: -1;
    bottom: 0em;
    transition: height 0.15s ease-in-out;
    @apply left-0 w-full bg-primary-stripe;
  }
  .about-title {
    width: calc(100% + 5em);
  }
  .about-title span {
    @apply bg-white p-1 text-2xl md:text-3xl lg:text-2xl xl:text-3xl;
  }
  .project-details-card {
    width: 100%;
    font-size: 0.95rem;
    min-height: 160px;
    margin-right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  @media (min-width: 640px) {
    .project-details-card {
      width: 49%;
      margin-right: 2%;
    }
    .project-details-card:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media (min-width: 1024px) {
    .project-details-card {
      width: 23%;
      margin-right: 2%;
    }
    .project-details-card:nth-child(2n) {
      margin-right: 2%;
    }
    .project-details-card:nth-child(4n) {
      margin-right: 0;
    }
  }
  @media (min-width: 768px) {
    .content-with-img:nth-child(odd) {
      flex-direction: row-reverse;
    }
    .content-with-img:nth-child(even) .content {
      padding-left: 2em;
    }
    .content-with-img:nth-child(odd) .content {
      padding-right: 2em;
    }
    .content-with-img:nth-child(odd) .content > p {
      text-align: right;
    }
    .content-with-img:nth-child(even) .img {
      margin-right: 1em;
    }
    .content-with-img:nth-child(odd) .img {
      margin-left: 1em;
    }
  }
}
